.div_questao p:first-child {
    display: inline;
}

.div_questao{
    border: 1px solid #666666;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 200px;
    overflow: hidden;
    
}

.div_questao div{
    overflow: hidden;
}

.div_questao i {
    float: right;
  }
.container_name_item {
    margin: 5px 0;
    display:block;
    width:90%;
}

.option {
    margin-bottom: 10px;
    display: flex;
}

.alternative-option {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.paginacao {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginacao li {
    display: inline-block;
}

.paginacao li a {
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #333;
    color: #333;
    border-radius: 5px;
}

.paginacao li a.active {
    background-color: #007BFF;
    color: #fff;
}