{% extends 'global/pages/base.html' %}
{% load static %} {% load custom_filters %}

{% block css %}
  <link href="{% static 'simulados/css/criar_simulado_manualmente.css' %}" rel='stylesheet'>
{% endblock css %}
{% block titulo %}Criando Simulado{% endblock titulo %}
{% block conteudo %}
    <form method="post">
      {% csrf_token %}
      <label for'titulo'>Título:  </label>
      <input id='titulo' name='titulo'>
      <h2>Selecione as questões para o simulado:</h2>
      <select
        style="display: none"
        name="questoes_escolhidas"
        id="questoes_escolhidas"
        multiple
      ></select>
      <div id="div_questoes_escolhidas"></div>
      <button type="button" id="adicionar_questao">Adicionar Questão</button>
      <button type="submit">Criar Simulado</button>
    </form>

    <div id="modal_questoes" class="modal">
      <div class="conteudo_modal">
        <select name="assuntos" id="assuntos" multiple>
          {% for assunto in assuntos %}
          <option value="{{assunto.id}}">{{assunto.nome_assunto}}</option>
          {% endfor %}
        </select>
        <button onclick="filtrar_questoes()">Filtrar</button>

        <h2>Selecione as questões adicionais:</h2>
        {% for questao in questoes %}
        <div class="questoes_com_id_assunto" id_assuntos="{{ questao|get_id_assunto }}">
          <input
            id="questao_modal{{questao.id}}"
            type="checkbox"
            name="questoes_selecionadas"
            value="{{ questao.id }}"
          />
          <label for="questao_modal{{questao.id}}">
            {{ questao.pergunta | safe }}
          </label>
        </div>
        {% endfor %}
        <br />

        <button id="add_questoes_selecionadas">
          Adicionar Questões Selecionadas
        </button>
        <button onclick="fecharModal()">Cancelar</button>
      </div>
    </div>
    <script src="{% static 'pagina_principal/js/utils.js'%}"></script>
    <script src="{% static 'pagina_principal/js/logica_modal.js'%}"></script>
  {% endblock conteudo %}