{% extends 'global/pages/base.html' %}
{% load static %} {% load custom_filters %}

{% block css %}
  <link href="{% static 'simulados/css/criar_simulado_manualmente.css' %}" rel='stylesheet'>
  <link href="{% static 'pagina_principal/css/filtro.css' %}" rel='stylesheet'>
{% endblock css %}
{% block titulo %}Criando Simulado{% endblock titulo %}

{% block script %}
    <script src={% static 'pagina_principal/js/funcionalidades_filtro.js' %}></script>
    <script src={% static 'global/js/filtro.js' %}></script>
    <script src={% static 'global/js/utils.js' %}></script>
{% endblock script %}

{% block conteudo %}
    <form method="post">
      {% csrf_token %}
      <label for'titulo'>Título:  </label>
      <input id='titulo' name='titulo' value='{{titulo}}'>
      </br>
      <select
        style='display: none;'
        name="questoes_escolhidas"
        id="questoes_escolhidas"
        multiple
      >
        {% for questao_escolhida in questoes_escolhidas %}
          <option id='option{{questao_escolhida}}' value='{{questao_escolhida}}' selected>{{questao_escolhida}}</option>
        {% endfor %}
      </select>
      <button type="submit" class='green-button margin-top'>Criar Simulado</button>
    </form>
    <script src="{% static 'pagina_principal/js/utils.js'%}"></script>
    
    <div id='container_questoes_escolhidas'></div>
    <h2> Lista de Questões</h2>
    <form method="get" id='form_filtro' >
      <input type="hidden" name='form_filtro'> 
      {% include 'pagina_principal/partials/filtro.html' with titulo_filtro='Assuntos' itens_objeto=assuntos id_class='assunto' name='assuntos' selecionados=id_filtro_assunto %}  
      {% include 'pagina_principal/partials/filtro.html' with titulo_filtro='Ano' itens_lista=anos_questoes id_class='ano' name='anos'%}  
      <div class="container-button-filter">
          <button class='button-filter' type="button" onclick='filtrar()'>Filtrar</button>
      </div>  
    </form>
    {% for questao in questoes %}
      <div class='ql-editor'>
        
        <div class='questao' id='questao{{questao.id}}'>
          <input type='checkbox' id='input{{questao.id}}'class='pergunta_selecionada' onchange='adicionar_remover_questao(this, "{{questao.id}}")' value='{{questao.id}}'>
          <i id="seta_questao{{questao.id}}" class="fa-solid fa-chevron-down" onclick="mudar_ocultar_questao('questao{{questao.id}}','seta_questao{{questao.id}}')"></i>
          <div class="container-questao">
            {{questao.pergunta | safe}}
          </div>
        </div>
      </div>
    {% endfor %}

    <ul class="paginacao">
      {% if questoes.has_previous %}
      <li><a onclick="mudar_pagina('{{questoes.previous_page_number}}')"> Anterior </a></li>
      {% endif %}
      {% for page in questoes.paginator.page_range %}
          {% if page == questoes.number %}   
              <li><a  class="active" >{{page}}</a></li>
          {% else %}
              <li><a onclick="mudar_pagina('{{page}}')">{{page}}</a></li>
          {% endif %} 
      {% endfor %}
      {% if questoes.has_next %}
          <li><a onclick="mudar_pagina('{{questoes.next_page_number}}')"> Próximo </a></li>
      {% endif %}
  </ul>
<script>

  function adicionar_remover_questao(checkbox, id_questao){
    if (checkbox.checked){
      adicionar_questao(id_questao)
    }else{
      remover_questao(id_questao)
    }
  }

  function adicionar_questao(id)
  {
      
      let select_questoes_escolhidas = document.getElementById('questoes_escolhidas')
      let option = document.createElement("option");
      option.id = "option" + id;
      option.value = id;
      option.text = id;
      option.selected = true;
      select_questoes_escolhidas.add(option);

      let container_questoes_escolhidas = document.getElementById('container_questoes_escolhidas')
      let conteudo_questao = document.getElementById('questao'+id).querySelector('.container-questao')
      
      let html = `<div id='questao_escolhida${id}' class='questao'>`
      html += ` <i id="seta_questao_escolhida${id}" class="fa-solid fa-chevron-down" onclick="mudar_ocultar_questao('questao_escolhida${id}','seta_questao_escolhida${id}')"></i>`
      html +=  `${conteudo_questao.innerHTML}</div>`
      container_questoes_escolhidas.innerHTML+= html
        
  }
  function remover_questao(id)
  {
    document.getElementById('questao_escolhida'+id).remove()

    id = "option" + id
    let option = document.getElementById(id)
    option.remove()
  

  }

  function get_questoes_escolhidas(){
    let select_questoes = document.getElementById('questoes_escolhidas')
    let questoes_escolhidas = select_questoes.querySelectorAll('option:checked')
    id_perguntas_selecionadas = []
    questoes_escolhidas.forEach((pergunta) => {
          id_perguntas_selecionadas.push(pergunta.value)
    })
    return id_perguntas_selecionadas
  }

  function parametros_para_redirecionar(){
      let titulo = document.getElementById('titulo')
      let id_perguntas_selecionadas = get_questoes_escolhidas()

      let ids_filtro = get_filtros_escolhidos()
      let ids_filtro_assuntos = ids_filtro[0]
      let ids_filtro_anos = ids_filtro[1]

      const parametros = new URLSearchParams();
      
      const parametroListaQuestoes = id_perguntas_selecionadas.join(',');
      const parametroListaAssuntos = ids_filtro_assuntos.join(',');
      const parametroListaAnos = ids_filtro_anos.join(',');

      parametros.append('id_assuntos_filtro', parametroListaAssuntos);
      parametros.append('id_anos_filtro', parametroListaAnos);
      parametros.append('id_questao', parametroListaQuestoes);
      parametros.append('titulo', titulo.value)

      return parametros.toString();


  }

  function mudar_pagina(pagina){
    
    let parametros_gerais = parametros_para_redirecionar()
    const parametros = new URLSearchParams();
    parametros.append('page', pagina)
    history.replaceState(null, null, window.location.pathname);
    const url = window.location.href + '?' + parametros.toString() + '&' + parametros_gerais;
    window.location.href = url
  }
</script>
  {% endblock conteudo %}