{% extends 'global/pages/base.html' %}
{% load static %}
{% block css %}
    <link href={% static 'simulados/css/dados_simulado.css' %} rel='stylesheet'>
{% endblock css %}


{% block conteudo %}
<div class="container_dados">
    <div class='dados'>
        <h3>{{titulo}}</h3>
        <p><strong>Professor:</strong> {{professor}}</p>
        <p><strong>Quantidade de Perguntas: </strong>{{qtd_questoes}}</p>
        <p><strong>Tempo de Prova: </strong>{{tempo_de_prova}}</p>
        <p><strong>Tentativas Restante: </strong>{{qtd_tentativas}}</p>
        <p><strong>Disponibilidade: </strong>{{disponibilidade}}</p>
        {% if disponivel_responder_simulado%}
            <form class='form-responder' action="{% url 'simulados:responder_simulado' %}" method='post'>
                {% csrf_token %}
                <input type="hidden" name='link' value='{{link}}' readonly/>
                <button type='submit' class='green-button'>Responder</button>
            </form>
        {% endif %}
    </div>
    
</div>
{% endblock conteudo %}