{% extends 'global/pages/base.html' %}
{% load static %}
{% block css %}
  <link href="{% static 'simulados/css/simulado.css' %}" rel='stylesheet'>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link href="{% static 'global/css/estatisticas.css'%}" rel='stylesheet'>
{% endblock css %}
{% block script %}
    <script src={% static 'global/js/utils.js' %}></script>
{% endblock script %}


{% block conteudo %}


    

        {% include 'global/partials/estatisticas.html' %}
        {% for dados in dados_questoes %}
        
        <div class="question">
            <h3>Questão {{forloop.counter}}:</h3>
            <div class='ql-editor'>{{dados.questao.pergunta | safe}}</div>
            <div class="option">
                <label  class="option-label {{dados.classe_alternativa_a}}">A </label> <div class="ql-editor">{{dados.questao.alternativa_a | safe}}</div>
            </div>
        
            <div class="option">
                <label  class="option-label {{dados.classe_alternativa_b}}">B </label> <div class="ql-editor">{{dados.questao.alternativa_b | safe}}</div>
            </div>
        
            <div class="option">
                <label  class="option-label {{dados.classe_alternativa_c}}">C </label> <div class="ql-editor">{{dados.questao.alternativa_c | safe}}</div>
            </div>
            <div class="option">
                <label class="option-label {{dados.classe_alternativa_d}}">D </label> <div class="ql-editor">{{dados.questao.alternativa_d | safe}}</div>
                </div>
            <div class="option">
                <label class="option-label {{dados.classe_alternativa_e}}">E </label> <div class="ql-editor">{{dados.questao.alternativa_e | safe}}</div>
            </div>
        </div>
        {% endfor %}

 


{% endblock conteudo %}