{% extends 'global/pages/base.html' %}
{% load static %}
{% block titulo %}Lista de Simulados{% endblock titulo %}
{% block css %}<link href="{% static 'simulados/css/lista_simulados.css'%}" rel='stylesheet'>{% endblock css %}

{% block script %}
<script src="{% static 'simulados/js/link.js'%}"></script>
{% endblock script %}

{% block conteudo %}
    <main class="container">
        <div class="simulados">
           
            {% for simulado in simulados%}           
                

                    <div class='container_simulado'>

                        <h2 > {{simulado.simulado.titulo}}</h2>
                                                
                        {% if simulado.link %}
                            <input type="text"  id="link{{simulado.simulado.id}}" placeholder="Digite alguma coisa" value="{{simulado.link}}" readonly/>
                            <button type='button' id="botaoCopiar{{simulado.simulado.id}}" onclick="copiarLink('link{{simulado.simulado.id}}')" class="green-button"> Copiar Link</button>
                        {% else %}
                            <input type="text" style='display: none' id="link{{simulado.simulado.id}}" placeholder="Digite alguma coisa" value="" readonly/>
                            <button style='display: none' type='button' onclick="copiarLink('link{{simulado.simulado.id}}')"  id="botaoCopiar{{simulado.simulado.id}}" class="green-button"> Copiar Link</button>
                            <button type='button' id="botaoGerar{{simulado.simulado.id}}" onclick="gerar_link({{simulado.simulado.id}})" class="green-button"> Gerar Link</button>
                        {% endif %}
                        
                        <form method='POST' action="{% url 'simulados:simulado' %}">
                            {% csrf_token %} 
                            <input type="hidden" name="simulado_id" value="{{ simulado.simulado.id }}"> 
                            <button class="green-button" type="submit"> Visualizar Simulado</button>
                        </form>
                        <form method='POST' action="{% url 'simulados:respostas_do_simulado' %}">
                            {% csrf_token %} 
                            <input type="hidden" name="id_simulado" value="{{ simulado.simulado.id }}"> 
                            <button class="green-button" type="submit"> Visualizar Respostas</button>
                        </form>
                    </div>
                
            {% endfor%}
        </div>
    </main>

    
{% endblock conteudo %}