{% extends 'global/pages/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'simulados/css/respostas_do_simulado.css' %}">
    <link href="{% static 'global/css/estatisticas.css'%}" rel='stylesheet'>
{% endblock css %}
{% block script %}
    <script src={% static 'global/js/utils.js' %}></script>
{% endblock script %}
{% block conteudo %}

    {% include 'global/partials/estatisticas.html' %}
    <h1> Alunos que responderam: </h1>
    {% if alunos %}
        <table class='respostas_alunos'>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th class='desempenho'>Desempenho</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for aluno in alunos %}
            <tr>
                <td>{{aluno.nome}} </td>
                <td>{{aluno.email}}</td>
                <td class='desempenho'>{{aluno.desempenho}}</td>
                <td class='td-button'>
                    <form action="{% url 'simulados:resposta_aluno'%}" method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name='id_resposta' value={{aluno.id_resposta}}>
                        <button class='green-button' type='submit'>Ver Prova</button>
                    </form>
                </td>    
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    {% else %}
        <p>Esse simulado nao teve nenhuma resposta até o momento</p>
    {% endif %}
   

{% endblock conteudo %}

