{% extends 'global/pages/base.html' %}
{% load static %}
{% block css %}
  <link href="{% static 'simulados/css/simulado.css' %}" rel='stylesheet'>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock css %}

{% block script %}
<script>
  const tempoLimiteSegundos = parseInt({{tempo_de_prova}})
  function atualizarContador() {
    const inicioSimulado = new Date('{{inicio_simulado}}');
    const tempoAtual = new Date();
    const diferencaSegundos = Math.floor((tempoAtual - inicioSimulado) / 1000);
    const tempoRestanteSegundos = Math.max(tempoLimiteSegundos - diferencaSegundos, 0);

    const horas = Math.floor(tempoRestanteSegundos / (60*60));
    const minutos = Math.floor((tempoRestanteSegundos - horas*(60*60)) / 60);
    const segundos = (tempoRestanteSegundos - horas*60*60 - minutos*60);
    const tempoFormatado = `${horas.toString().padStart(2, '0')}:${minutos.toString().padStart(2, '0')}:${segundos.toString().padStart(2, '0')}`;
    document.getElementById('contador').textContent = tempoFormatado;

    if (tempoRestanteSegundos === 0) {
      document.getElementById('form-simulado').submit();
    } else {
      setTimeout(atualizarContador, 1000);
    }
  }
  window.onload = function() {
    if('{{link}}' != ''){  
      alert('entrou')
      if('{{tempo_de_prova}}' == '0'){
        document.getElementById('contador').textContent = "Sem tempo limite de prova";
      }
      else{
        atualizarContador();
      }
    }
  };
</script>
{% endblock script %}


{% block conteudo %}
    {% if link %}
      <p>Tempo restante: <span id="contador"></span></p>
    {% endif %}
    <form id='form-simulado' action="{% url 'simulados:salvar_resposta'%}" method='POST'>
        {% csrf_token %}
        <input type="hidden" name='link' value="{{link}}">
      {% for questao in questoes%}
        <div class="question">
            <h3>Questão {{forloop.counter}}:</h3>
            <div class='ql-editor'>{{questao.pergunta | safe}}</div>
            <div class="option">
              <input type="radio" id="q{{forloop.counter}}-option1" name="{{questao.id}}" class="option-radio" value="A" id_questao={{questao.id}}>
              <label for="q{{forloop.counter}}-option1" class="option-label">A </label> <div class='container-option ql-editor'>{{questao.alternativa_a | safe}}</div>
            </div>
        
            <div class="option">
              <input type="radio" id="q{{forloop.counter}}-option2" name="{{questao.id}}" class="option-radio" value="B" id_questao={{questao.id}}>
              <label for="q{{forloop.counter}}-option2" class="option-label">B</label> <div class='container-option ql-editor'>{{questao.alternativa_b | safe}}</div>
            </div>
        
            <div class="option">
              <input type="radio" id="q{{forloop.counter}}-option3" name="{{questao.id}}" class="option-radio" value="C" id_questao={{questao.id}}>
              <label for="q{{forloop.counter}}-option3" class="option-label">C</label> <div class='container-option ql-editor'>{{questao.alternativa_c | safe}}</div>
            </div>
            <div class="option">
                <input type="radio" id="q{{forloop.counter}}-option4" name="{{questao.id}}" class="option-radio" value="D" id_questao={{questao.id}}>
                <label for="q{{forloop.counter}}-option4" class="option-label">D</label> <div class='container-option ql-editor'>{{questao.alternativa_d | safe}}</div>
              </div>
              <div class="option">
                <input type="radio" id="q{{forloop.counter}}-option5" name="{{questao.id}}" class="option-radio" value="E" id_questao={{questao.id}}>
                <label for="q{{forloop.counter}}-option5" class="option-label">E</label> <div class='container-option ql-editor'>{{questao.alternativa_e | safe}}</div>
              </div>
          </div>
        {% endfor %}
        {% if link %}
          <button  class='green-button'>ENVIAR</button>
        {% endif %}
    </form>
{% endblock conteudo %}