<div class="dropdown">
    <button class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{titulo_filtro}}
    </button>
    <ul class="dropdown-menu p-2">
        <li class="d-flex justify-content-center">
            <input type="text" class='busca' id="busca_{{name}}" placeholder="Buscar assunto..." oninput="busca_filtrar('busca_{{name}}','.{{id_class}}')">
        </li>
            {% if itens_objeto %}
            {% for campo_filtro in itens_objeto %}
                <li class="dropdown-item {{id_class}}"> 
                {% if campo_filtro.id|stringformat:"s" in selecionados %}
                
                    <input type="checkbox" name="{{name}}" value="{{campo_filtro.id}}" id="{{id_class}}{{campo_filtro.id}}" checked>
                {% else %}
                    <input type="checkbox" name="{{name}}" value="{{campo_filtro.id}}" id="{{id_class}}{{campo_filtro.id}}">
                {% endif %} 
                <label for="{{id_class}}{{campo_filtro.id}}">{{campo_filtro}}</label>
                </li>
            {% endfor %}
        {% elif itens_lista %}
            {% for campo_filtro in itens_lista %}
                <li class="dropdown-item {{id_class}}"> 
                    {% if campo_filtro|stringformat:"s" in selecionados %}
                        <input type="checkbox" name="{{name}}" value="{{campo_filtro}}" id="{{id_class}}{{campo_filtro}}" checked>
                    {% else %}
                        <input type="checkbox" name="{{name}}" value="{{campo_filtro}}" id="{{id_class}}{{campo_filtro}}">
                    {% endif %}
                    <label for="{{id_class}}{{campo_filtro}}">{{campo_filtro}}</label>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>