<header>
    <div class="header-title">
        <h1>Plataforma de Simulados</h1>
    </div>
    {% if user.is_authenticated %}
    <div class="profile-icon" onmouseenter="mostrarMenu()" onmouseleave="ocultarMenu()">
        <i class="fas fa-user"></i>
        <div class="profile-menu" id="profileMenu">
            <ul>
                <li>
                    <a href="{%url 'lista_questoes_usuario'%}">Minhas Questões</a>
                </li>
                <li><a href="{% url 'simulados:lista_simulados' %}">Lista Simulados</a></li>
                <li><form action="{% url 'usuarios:logout' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ request.user.username }}">
                    <button type="submit">Sair da conta</button>
                </form></li>
            </ul>
        </div>
    </div>
    {% else %}

            <a href="{%url 'usuarios:login'%}"><button  class="green-button">Fazer Login</button></a>

    {% endif %}
</header>
