<header>
    <div class="header-title">
        <h1>Nome da Página</h1>
    </div>
    {% if user.is_authenticated %}
    <div class="profile-icon" onmouseenter="mostrarMenu()" onmouseleave="ocultarMenu()">
        <i class="fas fa-user"></i>
        <div class="profile-menu" id="profileMenu">
            <ul>
                <li><a href="{%url 'usuarios:logout'%}">Sair da conta</a></li>
            </ul>
        </div>
    </div>
    {% else %}

            <a href="{%url 'usuarios:login'%}"><button  class="green-button">Fazer Login</button></a>

    {% endif %}
</header>
