<div id='{{id_modal}}' class="modal">
    <div class="conteudo_modal">
      <button onclick="fecharModal('{{id_modal}}')" class='close-button'><i class="fa-solid fa-x"></i></button>
      <h3 class='texto-centralizado'>Configurações do Simulado</h3>
      
      <form action="{% url action %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="id_simulado_form" name='id_simulado'/>
        <input type="hidden"  name='tipo' value='{{tipo}}'/>
        {% if tipo == 'editar' %}
            <input type="hidden" name='link_parcial'>
        {% endif %}
        <div class="container-input">
            <label for='data_limite'>Data limite:  </label>
            <input id='data_limite' name='data_limite' type="checkbox" onchange="mudar_estado('{{id_modal}}','.data_prova')" >
            </br>
            <div class="data_prova"> 
                Data De início
                <input class='custom-input' type="date" name='data_inicial'> Hora de início <input type="time" name="horario_inicial"><br>
                Data Final
                <input class='custom-input' name='data_final' type="date"> Hora final <input type="time" name="horario_final">
            </div>
         </div>

        <div class="container-input">
          <label for='tempo_limite'>Tempo limite:  </label>
          <input id='tempo_limite' name='tempo_limite' type="checkbox" onchange="mudar_estado('{{id_modal}}','.tempo_prova')" >
          </br>
          <div class="tempo_prova"> 
              Tempo de Prova
              <input class='custom-input' type="number" min=0 name='horas' value=0>H:
              <input class='custom-input' type="number" min=0 name='minutos' value=0>M:
              <input class='custom-input' type="number" min=0 name='segundos' value=0>S
          </div>

       </div>
       <div class="container-input">
            <label for='limite_de_tentativas'>Limite de Tentativas:  </label>
            <input id='limite_de_tentativas' name='limite_de_tentativas' type="checkbox" onchange="mudar_estado('{{id_modal}}', '.qtd_tentativas')" >

            </br>
            <div class='qtd_tentativas'>
                <label for'qtd_tentativas'>Quantiade de Tentativas:  </label>
                <input type='number' id='qtd_tentativas' name='qtd_tentativas' min=0 class='custom-input' value=0>
            </div>
        </div>
            {% if tipo == 'criar' %}
                <button class='green-button'>Gerar Link</button>
            {% else %}
                <button class='green-button'>Salvar Alterção</button>
            {% endif %}
        </form>
      
    </div>
  </div>