.question {
    margin-bottom: 20px;
}

.option {
    margin-bottom: 10px;
    display: flex;
}

.option-radio {
    display: none;
}
.container-option{
    margin-left: 10px;
}
.container-option p
{
    display: block;
}
.option-label {
    background-color: #eaeaea;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s ease;
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    display: flex; /* Use o Flexbox para alinhar verticalmente */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    padding: 10px;
    height: 18px;
    width: 18px;
   
}

.option-radio:checked+.option-label {
    background-color: #337ab7;
    color: #fff;
}


.right_answer{
    background-color: green;
}
.wrong_answer{
background-color: red;
}