{% extends 'global/pages/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'global/css/katex.min.css'%}" rel='stylesheet'>
    <link href="{% static 'questoes/css/listar_questoes.css' %}" rel='stylesheet'>
    <link href="{% static 'global/css/paginacao.css' %}" rel='stylesheet'>
    <link href="{% static 'global/css/filtro.css' %}" rel='stylesheet'>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock css %}

{% block titulo %}
    Lista de Questões
{% endblock titulo %}

{% block script %}
    <script src={% static 'global/js/funcionalidades_filtro.js' %}></script>
    <script src={% static 'global/js/filtro.js' %}></script>
    <script src={% static 'global/js/utils.js' %}></script>
{% endblock script %}


{% block conteudo %}
<div class="container margen_top">

    
    <form method="get" id='form_filtro'>

        <div class="container-filters">
            {% include 'global/partials/filtro.html' with titulo_filtro='Assuntos' itens_objeto=assuntos id_class='assunto' name='assuntos' selecionados=id_filtro_assunto%}  
            {% include 'global/partials/filtro.html' with titulo_filtro='Ano' itens_lista=anos_questoes id_class='ano' name='anos' selecionados=anos_filtro %}
            {% comment %} {% include 'global/partials/filtro.html' with titulo_filtro='Fonte Da Questão' itens_lista=origem id_class='origem' name='origens' selecionados=origens_filtro %}   {% endcomment %}
        </div>
        <div class="container-button-filter">
            <button class='button-filter' type="button" onclick="filtrar()">Filtrar</button>
        </div>  
    </form>
    {% for questao in questoes %}
    <br>
    <hr>
    <br>
    <div class='div_questao' id='questao{{questao.id}}'>
        {% if editavel %}
                   
                <div class="container-icon">
                    <a href="{% url 'editar_questao' questao.id %}">
                        <span class='span-edit'>Editar</span> <button class='plain-button'><i class="fa-solid fa-pen-to-square"></i></button>
                    </a>
                </div>
           
        {% endif %}
        <i id="seta_questao{{questao.id}}" class="fa-solid fa-chevron-down" onclick="mudar_ocultar_questao('questao{{questao.id}}','seta_questao{{questao.id}}')"></i>
        </br>
        <div class='ql-editor'>{{questao.pergunta | safe}}</div>
        </br>
        </br>
        
        <div class="option"><span class="alternative-option">A)</span><div class='ql-editor'>{{questao.alternativa_a | safe}}</div></div>
        <div class="option"><span class="alternative-option">B)</span><div class='ql-editor'>{{questao.alternativa_b | safe}}</div></div> 
        <div class="option"><span class="alternative-option">C)</span><div class='ql-editor'>{{questao.alternativa_c | safe}}</div></div> 
        <div class="option"><span class="alternative-option">D)</span><div class='ql-editor'>{{questao.alternativa_d | safe}}</div></div> 
        <div class="option"><span class="alternative-option">E)</span><div class='ql-editor'>{{questao.alternativa_e | safe}}</div></div> 
 
    </div>
    {% empty%}
    <div class='container_center'>
        <h2>Não foram encontradas questões para serem exibidas</h2>
    </div>
    {% endfor %}
    
    <ul class="paginacao">
        {% if questoes.has_previous %}
        <li><a onclick="mudar_pagina('{{questoes.previous_page_number}}')"> Anterior </a></li>
        {% endif %}
        {% for page in questoes.paginator.page_range %}
            {% if page == questoes.number %}   
                <li><a  class="active" >{{page}}</a></li>
            {% else %}
                <li><a onclick="mudar_pagina('{{page}}')">{{page}}</a></li>
            {% endif %} 
        {% endfor %}
        {% if questoes.has_next %}
            <li><a onclick="mudar_pagina('{{questoes.next_page_number}}')"> Próximo </a></li>
        {% endif %}
    </ul>

</div>

{% endblock conteudo %}