{% extends 'global/pages/base.html' %}
{% load static %}

{% block css %}
  <link href={%static 'css/login.css'%} rel='stylesheet'>
  {% endblock css %}
{% block conteudo %}

  <div class="container_login">

    <form action="{{ form_action }}" method="POST" class="login_form">
      {% csrf_token %}
      <h2>Login</h2>
        {% for field in form %}
              
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{field}}
  
            {% if field.help_text %}
              <p class="help-text">{{ field.help_text }}</p>
            {% endif %}
  
            {{ field.errors }}
          
        {% endfor %}
          <button class='green-button' type="submit">Entrar</button>
         
    </form>
    <p class='criar_conta'><a href="{% url 'usuarios:cadastro'%}">Criar conta</a></p>
  </div>
{% endblock conteudo %}