{% extends 'global/pages/base.html' %}
{% load static %}
{% block css %}
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> {% endcomment %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock css %}   
    {% block titulo %}Cadastrar Questão{% endblock titulo %}
   
    

{% block conteudo %}

    <div class="container">
        
        {% csrf_token %}
        
        <p>Nome do curso:</p>
        <input id='nome_curso' type='text'>
        </br>
        <label for="assuntos">Assuntos:</label></br>
        <select  name="assuntos" id="assuntos" multiple>
            {% for assunto in assuntos %}
            <option value="{{ assunto.id }}">{{ assunto.nome_assunto }}</option>
            {% endfor %}
        </select>
          <button type="button" onclick="mostrarInputAssunto()">+</button></br>
          <input id='input_novo_assunto' style='display:none'/>
          <button id='botao_novo_assunto'  style='display:none' type="button" onclick="adicionarAssunto()" >adicionar</button>
          <button id='botao_cancelar'  style='display:none' type="button" onclick="ocultarInput()" >cancelar</button>
        <p>Pergunta: </p>
        
        <div id="editor" class='editor_quill'>
                
        </div>
        </br>
    

        <p>Alternativa A</p>
        <div id="alternativa_a" class='editor_quill'>
        
        </div>
        <p>Alternativa B</p>
        <div id="alternativa_b" class='editor_quill'>
        
        </div>
        <p>Alternativa C</p>
        <div id="alternativa_c" class='editor_quill'>
        
        </div>
        <p>Alternativa D</p>
        <div id="alternativa_d" class='editor_quill'>
        
        </div>
        <p>Alternativa E</p>
        <div id="alternativa_e" class='editor_quill'>
        
        </div>
        <p>Alternativa Correta</p>
        <select  id="alternativa_correta">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
        </select>
        
        <button  class="green-button" onclick="salvar()">Enviar</button>
        
        
        <br>
        <hr>
        <br>

    </div>
    

    </br>

    
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{% static 'pagina_principal/js/utils.js'%}"></script>
    <script src="{% static 'pagina_principal/js/image-resize.min.js'%}"></script>
    <script>

        var toolbarOptions = configuracao_toolbar()
        
        let definicao_quill = {
            theme: 'snow',
            modules: {
                imageResize: {},
                toolbar:{
                    container: toolbarOptions,
                }
            },
            placeholder: 'Digite a questão',
        }
        var quill_questao = new Quill('#editor', definicao_quill)

        var quill_alternativa_a = new Quill('#alternativa_a', definicao_quill)

        var quill_alternativa_b = new Quill('#alternativa_b', definicao_quill)

        var quill_alternativa_c = new Quill('#alternativa_c', definicao_quill)

        var quill_alternativa_d = new Quill('#alternativa_d', definicao_quill)

        var quill_alternativa_e = new Quill('#alternativa_e', definicao_quill)


        function return_html()
        {
            console.log(quill_questao.root.innerHTML)
            return quill_questao.root.innerHTML
        }

        async function salvar()
        {
            var csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value
            var pergunta = quill_questao.root.innerHTML

            var alternativa_a = quill_alternativa_a.root.innerHTML
            var alternativa_b = quill_alternativa_b.root.innerHTML
            var alternativa_c = quill_alternativa_c.root.innerHTML
            var alternativa_d = quill_alternativa_d.root.innerHTML
            var alternativa_e = quill_alternativa_e.root.innerHTML

            var nome_curso = document.getElementById('nome_curso').value

            var alternativa_correta = document.getElementById('alternativa_correta').value

            var assuntos = get_opcoes_escolhidas('assuntos')
            const configuracao = {
                method: 'POST',
                redirect: 'manual',
                headers:{
                    'X-CSRFToken': csrf_token
                },
                body: JSON.stringify({
                                       'pergunta':pergunta,
                                       'nome_curso':nome_curso,
                                       'assuntos':assuntos,
                                       'alternativa_a':alternativa_a,
                                       'alternativa_b':alternativa_b,
                                       'alternativa_c':alternativa_c,
                                       'alternativa_d':alternativa_d,
                                       'alternativa_e':alternativa_e,
                                       'alternativa_correta':alternativa_correta,                     

                                    }),
                
            }
            const response = await fetch("{% url 'cadastrar_questao' %}",configuracao)
            location.href='/'
            
        }
    </script>
    {% endblock conteudo %}    