{% extends 'global/pages/base.html' %}

{% block conteudo %}
    <form method="post">
        {% csrf_token %}

        <label for="titulo">Título: </label> 
        <input type="text" id="titulo" name="titulo"></br></br>

        <label for="qtd_questoes">Quantidade de Questões</label>   
        <input type="number" name="qtd_questoes" id="qtd_questoes" value=0></br></br>

        
        <select name="assuntos" multiple>
          {% for assunto in assuntos%}
            <option value="{{assunto.id}}">{{assunto.nome_assunto}}</option>
          {% endfor %}
        </select></br></br>
        <button type="submit">Gerar Simulado</button>

    </form>
    {% endblock conteudo %}