{% extends 'global/pages/base.html' %}
{% load static %}
{% block css %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="{% static 'css/filtro.css' %}" rel='stylesheet'>
{% endblock css %}   
{% block script %}
    <script src={% static 'global/js/funcionalidades_filtro.js' %}></script>
{% endblock script %}

{% block titulo %}Cadastrar Questão{% endblock titulo %}
  
{% block conteudo %}

    <div class="container">
        <form action="{% url 'editar_questao' questao.id%}" method='POST' id='form_cadastrar_questao'>
            {% csrf_token %}
            
            <p>Nome do curso:</p>
            <input id='nome_curso' class='custom-input large-input' name='nome_curso' type='text' value='{{questao.curso}}'>
            </br>
            
            <p>Origem:</p>
            <select id='origem' name='origem' class='custom-input'>
                <option value='ENADE'>ENADE</option>
                <option value='autoria_propria'>Autoria Própria</option>
                <option value='outro' selected>Outra Fonte</option>
            </select>
            </br>
            </br>
            
            Ano da questão:</br>
            <input type="integer" name='ano' value={{questao.ano}} class='custom-input'>
            </br>
            </br>
            
            <label for="assuntos">Assuntos:</label></br>
            
            <div class="container-filters">
                {% include 'global/partials/filtro.html' with titulo_filtro='Assuntos' itens_objeto=assuntos id_class='assunto' name='assuntos' selecionados=assuntos_selecionados%}  
            </div>

            <button type="button" class='margin-top' onclick="mostrarInputAssunto()">Cadastrar Assunto</button></br>
            <input id='input_novo_assunto' class='custom-input margin-top' style='display:none'/>
            <button id='botao_novo_assunto'  style='display:none' type="button" onclick="adicionarAssunto()" >adicionar</button>
            <button id='botao_cancelar'  style='display:none' type="button" onclick="ocultarInput()" >cancelar</button>
            <p>Pergunta: </p>
            
            <div id="editor" class='editor_quill'>
                
            </div>
            </br>
        

            <p>Alternativa A</p>
            <div id="alternativa_a" class='editor_quill'>
            </div>
            <p>Alternativa B</p>
            <div id="alternativa_b" class='editor_quill'>
            </div>
            <p>Alternativa C</p>
            <div id="alternativa_c" class='editor_quill'>
            </div>
            <p>Alternativa D</p>
            <div id="alternativa_d" class='editor_quill'>
            </div>
            <p>Alternativa E</p>
            <div id="alternativa_e" class='editor_quill'>
            </div>
        
            <input type="hidden" name="pergunta" id="input_pergunta">
            <input type="hidden" name="alternativa_a" id="input_alternativa_a">
            <input type="hidden" name="alternativa_b" id="input_alternativa_b">
            <input type="hidden" name="alternativa_c" id="input_alternativa_c">
            <input type="hidden" name="alternativa_d" id="input_alternativa_d">
            <input type="hidden" name="alternativa_e" id="input_alternativa_e">
            <p>Alternativa Correta</p>
            <select  id="alternativa_correta" name='resposta'>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
            </select>
            
            
        </form>

        <br>
   
        <button  class="green-button" onclick='salvar()' >Salvar</button>
        
        

    </div>
    

    </br>
   
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{% static 'pagina_principal/js/utils.js'%}"></script>
    <script src="{% static 'pagina_principal/js/image-resize.min.js'%}"></script>
    <script>

        var toolbarOptions = configuracao_toolbar()
        
        let definicao_quill = {
            theme: 'snow',
            modules: {
                imageResize: {},
                toolbar:{
                    container: toolbarOptions,
                }
            },
            placeholder: 'Digite a questão',
        }
        var quill_questao = new Quill('#editor', definicao_quill)

        var quill_alternativa_a = new Quill('#alternativa_a', definicao_quill)

        var quill_alternativa_b = new Quill('#alternativa_b', definicao_quill)

        var quill_alternativa_c = new Quill('#alternativa_c', definicao_quill)

        var quill_alternativa_d = new Quill('#alternativa_d', definicao_quill)

        var quill_alternativa_e = new Quill('#alternativa_e', definicao_quill)
       
        quill_questao.root.innerHTML = '{{questao.pergunta | safe  }}'
        quill_alternativa_a.root.innerHTML = '{{questao.alternativa_a | safe }}'
        quill_alternativa_b.root.innerHTML = '{{questao.alternativa_b | safe }}'
        quill_alternativa_c.root.innerHTML = '{{questao.alternativa_c | safe }}'
        quill_alternativa_d.root.innerHTML = '{{questao.alternativa_d | safe }}'
        quill_alternativa_e.root.innerHTML = '{{questao.alternativa_e | safe }}'

        let select_alternativa_correta = document.getElementById('alternativa_correta')
        for (let i=0; i<select_alternativa_correta.options.length; i++)
        {
            if(select_alternativa_correta.options[i].value == "{{questao.alternativa_correta}}")
            {
                select_alternativa_correta.options[i].selected = true;
            }
        }
        
        let select_origem = document.getElementById('origem')
        for (let i=0; i<select_origem.options.length; i++)
        {
            if(select_origem.options[i].value == "{{questao.origem}}")
            {
                select_origem.options[i].selected = true;
            }
        }

        function salvar()
        {            
            var pergunta = quill_questao.root.innerHTML
            var alternativa_a = quill_alternativa_a.root.innerHTML
            var alternativa_b = quill_alternativa_b.root.innerHTML
            var alternativa_c = quill_alternativa_c.root.innerHTML
            var alternativa_d = quill_alternativa_d.root.innerHTML
            var alternativa_e = quill_alternativa_e.root.innerHTML
            
            
            document.getElementById('input_pergunta').value = pergunta
            let value_alternativa = [alternativa_a, alternativa_b, alternativa_c, alternativa_d, alternativa_e]
            let letras_alternativa = ['a', 'b', 'c', 'd', 'e']
            
            for(let i=0;i<letras_alternativa.length; i++){
                let id_input = 'input_alternativa_' + letras_alternativa[i]
                document.getElementById(id_input).value = value_alternativa[i]
            }
            
            document.getElementById('form_cadastrar_questao').submit()
        }
    </script>
    {% endblock conteudo %}    