{% extends 'global/pages/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'pagina_principal/css/listar_questoes.css' %}" rel='stylesheet'>
    <link href="{% static 'pagina_principal/css/filtro.css' %}" rel='stylesheet'>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock css %}

{% block titulo %}
    Lista de Questões
{% endblock titulo %}

{% block script %}
    <script src={% static 'pagina_principal/js/funcionalidades_filtro.js' %}></script>
{% endblock script %}


{% block conteudo %}
<div class="container margen_top">

    
    <form method="get" id='form_filtro'>
        {% include 'pagina_principal/partials/filtro.html' with titulo_filtro='Assuntos' itens_objeto=assuntos id_class='assunto' name='assuntos' selecionados=id_filtro_assunto%}  
        {% include 'pagina_principal/partials/filtro.html' with titulo_filtro='Ano' itens_lista=anos_questoes id_class='ano' name='anos'%}  
        <div class="container-button-filter">
            <button class='button-filter' type="button" onclick="filtrar()">Filtrar</button>
        </div>  
    </form>
    {% for questao in questoes %}
    <br>
    <hr>
    <br>
    <div class='div_questao' id='questao{{questao.id}}'>
        {% if editavel %}
            <a href="{% url 'editar_questao' questao.id %}"><button>Editar</button></a>
        {% endif %}
        <i id="seta_questao{{questao.id}}" class="fa-solid fa-chevron-down" onclick="mudar_ocultar_questao('questao{{questao.id}}','seta_questao{{questao.id}}')"></i>
        </br>
        <div class='ql-editor'>{{questao.pergunta | safe}}</div>
        </br>
        </br>
        
        <div class="option"><span class="alternative-option">A)</span><div class='ql-editor'>{{questao.alternativa_a | safe}}</div></div>
        <div class="option"><span class="alternative-option">B)</span><div class='ql-editor'>{{questao.alternativa_b | safe}}</div></div> 
        <div class="option"><span class="alternative-option">C)</span><div class='ql-editor'>{{questao.alternativa_c | safe}}</div></div> 
        <div class="option"><span class="alternative-option">D)</span><div class='ql-editor'>{{questao.alternativa_d | safe}}</div></div> 
        <div class="option"><span class="alternative-option">E)</span><div class='ql-editor'>{{questao.alternativa_e | safe}}</div></div> 
 
    </div>
    {% empty%}
    <div class='container_center'>
        <h2>Não foi encontrado questões para serem exibidas</h2>
    </div>
    {% endfor %}
    
    <ul class="paginacao">
        {% if questoes.has_previous %}
        <li><a onclick="mudar_pagina('{{questoes.previous_page_number}}')"> Anterior </a></li>
        {% endif %}
        {% for page in questoes.paginator.page_range %}
            {% if page == questoes.number %}   
                <li><a  class="active" >{{page}}</a></li>
            {% else %}
                <li><a onclick="mudar_pagina('{{page}}')">{{page}}</a></li>
            {% endif %} 
        {% endfor %}
        {% if questoes.has_next %}
            <li><a onclick="mudar_pagina('{{questoes.next_page_number}}')"> Próximo </a></li>
        {% endif %}
    </ul>

</div>
<script>
    function mudar_ocultar_questao(id_div_questao, id_seta_questao){
        let div_questao = document.getElementById(id_div_questao);
        let seta_questao = document.getElementById(id_seta_questao);
    
        if (div_questao.style.height == 'auto'){
          div_questao.style.height = '200px'
          seta_questao.classList.remove('fa-chevron-up')
          seta_questao.classList.add('fa-chevron-down')
        }else{
          div_questao.style.height = 'auto'
          seta_questao.classList.remove('fa-chevron-down')
          seta_questao.classList.add('fa-chevron-up')
        }
      }

      function parametros_para_redirecionar(){

        let ids_filtro = get_filtros_escolhidos()
        let ids_filtro_assuntos = ids_filtro[0]
        let ids_filtro_anos = ids_filtro[1]
        const parametros = new URLSearchParams();
        
        const parametroListaAssuntos = ids_filtro_assuntos.join(',');
        const parametroListaAnos = ids_filtro_anos.join(',');
        
        parametros.append('id_assuntos_filtro', parametroListaAssuntos);
        parametros.append('id_anos_filtro', parametroListaAnos);
  
        return parametros.toString();
  
  
    }
  
    function get_filtros_escolhidos(){
      let form = document.getElementById('form_filtro')
      let filtro_assuntos = form.querySelectorAll("[name='assuntos']:checked")
      let ids_filtro_assuntos = []
      filtro_assuntos.forEach((assunto) => {
        ids_filtro_assuntos.push(assunto.value)
      })
  
      let filtro_anos = form.querySelectorAll("[name='anos']:checked")
      let ids_filtro_anos = []
      filtro_anos.forEach((ano) => {
        ids_filtro_anos.push(ano.value)
      })

      return [ids_filtro_assuntos, ids_filtro_anos]
    }
    function filtrar(){
        
        let parametros_gerais = parametros_para_redirecionar()     
        history.replaceState(null, null, window.location.pathname);
        const url = window.location.href + '?' + parametros_gerais
        window.location.href = url
    }
    function mudar_pagina(pagina){
      
      let parametros_gerais = parametros_para_redirecionar()
      const parametros = new URLSearchParams();
      parametros.append('page', pagina)
      history.replaceState(null, null, window.location.pathname);
      const url = window.location.href + '?' + parametros.toString() + '&' + parametros_gerais;
      window.location.href = url
    }
</script>
{% endblock conteudo %}