    {% extends 'global/pages/base.html' %}
    {% load static %}
    {% block css %}
      <link href="{% static 'pagina_principal/css/listar_questoes.css' %}" rel='stylesheet'>
    {% endblock css %}

    {% block titulo %}
        Lista de Questões
    {% endblock titulo %}
  

    {% block conteudo %}
    <div class="container margen_top">

        <div>  
          <form method="post">
                {% csrf_token %}
                <select name="assuntos" multiple>
                    {% for assunto in assuntos%}
                    <option value="{{assunto.id}}">{{assunto.nome_assunto}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Enviar</button>
            </form>
        </div>
        {% for questao in questoes %}
        <br>
        <hr>
        <br>
        <div class='div_questao'>
            <a href="{% url 'editar_questao' questao.id %}"><button>Editar</button></a> </br>
            {{questao.pergunta | safe}}
            </br>

            <p class='visualizar_alternativa'>a) {{questao.alternativa_a | safe}}</p> </br>
            <p class='visualizar_alternativa'>b) {{questao.alternativa_b | safe}}</p> </br>
            <p class='visualizar_alternativa'>c) {{questao.alternativa_c | safe}}</p> </br>
            <p class='visualizar_alternativa'>d) {{questao.alternativa_d | safe}}</p> </br>
            <p class='visualizar_alternativa'>e) {{questao.alternativa_e | safe}}</p> </br>
        </div>
        {% endfor %}
    </div>
  {% endblock conteudo %}