{% extends 'global/pages/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'pagina_principal/css/listar_questoes2.css' %}" rel='stylesheet'>
{% endblock css %}

{% block titulo %}
    Lista de Questões
{% endblock titulo %}

{% block script %}
    <script src={% static 'pagina_principal/js/funcionalidades_filtro.js' %}></script>
{% endblock script %}


{% block conteudo %}
<div class="container margen_top">

    
    <form method="post" >
        {% csrf_token %} 
        {% include 'pagina_principal/partials/filtro.html' with titulo_filtro='Assuntos' itens=assuntos id_class='assunto' name='assuntos'%}  
        {% include 'pagina_principal/partials/filtro.html' with titulo_filtro='Assuntos2' itens=assuntos id_class='assunto2' name='assuntos2'%}    
    </form>
    {% for questao in questoes %}
    <br>
    <hr>
    <br>
    <div class='div_questao'>
        {% if editavel %}
            <a href="{% url 'editar_questao' questao.id %}"><button>Editar</button></a> </br>
        {% endif %}
        {{questao.pergunta | safe}}
        </br>

        <p class='visualizar_alternativa'>a) {{questao.alternativa_a | safe}}</p> </br>
        <p class='visualizar_alternativa'>b) {{questao.alternativa_b | safe}}</p> </br>
        <p class='visualizar_alternativa'>c) {{questao.alternativa_c | safe}}</p> </br>
        <p class='visualizar_alternativa'>d) {{questao.alternativa_d | safe}}</p> </br>
        <p class='visualizar_alternativa'>e) {{questao.alternativa_e | safe}}</p> </br>
    </div>
    {% empty%}
    <div class='container_center'>
        <h2>Não foi encontrado questões para serem exibidas</h2>
    </div>
    {% endfor %}
    
</div>

{% endblock conteudo %}